build/
cpu_scheduler
.venv/
.local/
__pycache__/
*.pyc
*.pyo
*.pyd
*.o
*.obj
*.out
*.exe
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
reports/os_process_logs/
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
